body {
	background-color: #383838; 
	font-family:courier;
	margin:0;padding:0;outline:0;list-style:none;
}


#picframe {
	position:relative;
	bottom: 90px;
}

#content {
	position: relative; 
	background-color: #D8E4FF; 
	width: 700px; 
	height: 415px; 
	margin-top: 175px;
	margin-left:600px;
}

#picture1 {
	position: absolute; 
	width: 415px; 
	margin-top: 90px; 
	margin-left: 45px;
}

#picture2 {
	position: absolute; 
	width: 100px; 
	margin-top: 90px; 
	margin-left: 480px;
}

#picture3 {
	position: absolute; 
	width: 100px; 
	margin-top: 195px; 
	margin-left: 480px;
}

#picture4 {
	position: absolute; 
	width: 100px; 
	margin-top: 300px; 
	margin-left: 480px;
}

#picture5 {
	position: absolute; 
	width: 100px; 
	margin-top: 405px; 
	margin-left: 480px;
}

#name {
	position: absolute; 
	margin-top: 20px; 
	margin-left: 30px; 
	color: #00526B;
}

#nickname {
	position: absolute; 
	margin-top: 50px; 
	margin-left: 40px; 
	color: #00526B;
}

#hobbies {
	position: absolute; 
	margin-top: 90px; 
	margin-left: 50px; 
	color: #00526B;
}

#hobbies2 {
	position: absolute; 
	margin-top: 115px; 
	margin-left: 60px; 
	color: #00526B;
}

#hobbies3 {
	position: absolute; 
	margin-top: 135px; 
	margin-left: 60px; 
	color: #00526B;
}

#interest {
	position: absolute; 
	margin-top: 170px; 
	margin-left: 50px; 
	color: #00526B;
}

#interest2 {
	position: absolute; 
	margin-top: 205px;
	margin-left: 60px; 
	color: #00526B;
}

#interest3 {
	position: absolute; 
	margin-top: 225px; 
	margin-left: 60px; color: #00526B;
}

#websites{
	position: absolute; 
	margin-top: 260px; 
	margin-left: 50px; 
	color: #00526B;
}

#facebook {
	position: absolute; 
	left: 600px; 
	top: 300px; 
	width: 100px; 
	margin-top: 175px; 
	margin-left: 45px;
}

#twitter {
	position: absolute; 
	left: 750px; 
	top: 300px; 
	width: 100px; 
	margin-top: 175px; 
	margin-left: 45px;
}

#youtube {
	position: absolute; 
	left: 900px; 
	top: 300px; 
	width: 100px; 
	margin-top: 175px; 
	margin-left: 45px;
}

#nba {
	position: absolute; 
	left: 1030px; 
	top: 295px; 
	width: 145px; 
	height: 115px;
	margin-top: 175px; 
	margin-left: 45px;

}

#trivia{
	
	position: absolute; 
	background-color: #D8E4FF; 
	width: 1255px; 
	height: 300px;
	margin-top: 25px;
	margin-left: 45px;
	margin-bottom: 15px;
	font-family: courier;
}

#triviaName {
	position: absolute; 
	margin-top: 20px; 
	margin-left: 30px; 
	color: #00526B;
}

#trivia1 {
	position: absolute; 
	margin-top: 40px; 
	margin-left: 45px; 
	color: #00526B;

}

#trivia2 {
	position: absolute; 
	margin-top: 40px; 
	margin-left: 21%; 
	color: #00526B;

}

#trivia3 {
	position: absolute; 
	margin-top: 40px; 
	margin-left: 41%; 
	color: #00526B;

}

#trivia4 {
	position: absolute; 
	margin-top: 40px; 
	margin-left: 60%; 
	color: #00526B;

}

#trivia5 {
	position: absolute; 
	margin-top: 40px; 
	margin-left: 80%; 
	color: #00526B;

}


.button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    padding: 16px 32px;
    font-family: courier;
    color:#00526B;;
}

.button:hover {
    background-color: #008CBA;
    color: white;

}
#audio {
	position: absolute;
	margin-left: 50%;
	margin-top: 10px;

}


		#sun {
		    position: absolute;
		    width: 20em; height: 20em;
		    top: -10em; left: -10em;
		    background: #ffffff;
		    -webkit-border-radius: 10em;
		    -moz-border-radius: 10em;
		    border-radius: 10em;
		    -webkit-animation: flow 10s infinite alternate;
		    -moz-animation: flow 10s infinite alternate;
		    animation: flow 10s infinite alternate;
		    z-index: 1000;
		}

		@-webkit-keyframes flow {
		    0% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 150px #ffad01;
		        
		    }
		    25% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 200px #ffad01;
		        
		    }
		    50% {
		    box-shadow: 0 0 100px #fffc01,
		                0 0 300px #ffad01;
		        
		    }
		    75% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 200px #ffad01;
		        
		    }
		    100% {
		    box-shadow: 0 0 20px #fffc01,
		                0 0 150px #ffad01;
		    }
		}

		@-moz-keyframes flow {
		    0% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 150px #ffad01;
		        
		    }
		    25% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 200px #ffad01;
		        
		    }
		    50% {
		    box-shadow: 0 0 100px #fffc01,
		                0 0 300px #ffad01;
		        
		    }
		    75% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 200px #ffad01;
		        
		    }
		    100% {
		    box-shadow: 0 0 0px #fffc01,
		                0 0 150px #ffad01;
		    }
		}

		@-o-keyframes flow {
		    0% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 150px #ffad01;
		        
		    }
		    25% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 200px #ffad01;
		        
		    }
		    50% {
		    box-shadow: 0 0 100px #fffc01,
		                0 0 300px #ffad01;
		        
		    }
		    75% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 200px #ffad01;
		        
		    }
		    100% {
		    box-shadow: 0 0 0px #fffc01,
		                0 0 150px #ffad01;
		    }
		}

		@keyframes flow {
		    0% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 150px #ffad01;
		        
		    }
		    25% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 200px #ffad01;
		        
		    }
		    50% {
		    box-shadow: 0 0 100px #fffc01,
		                0 0 300px #ffad01;
		        
		    }
		    75% {
		    box-shadow: 0 0 50px #fffc01,
		                0 0 200px #ffad01;
		        
		    }
		    100% {
		    box-shadow: 0 0 0px #fffc01,
		                0 0 150px #ffad01;
		    }
		}

		#form{
			background-color: #808080;
			opacity: 0.6;
			width: 500px;
			position: absolute;
			top: 200px;
			left: 450px;

		}



